language: java
sudo: required
services:
- docker
node_js:
- '8'
jdk:
- openjdk8


before_script:
- source scripts/setup-environment.sh

install:
- mvn -N io.takari:maven:wrapper

script:
- ./mvnw clean install

after_deploy:
- ./scripts/coverage.sh && ./scripts/findbugs.sh
- ./scripts/gh-pages.sh
